body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    margin-top: 10px;
}

.result-box {
    padding: 10px;
    margin: 15px 0;
}

.success {
    background: lightgreen;
}

.failure {
    background: pink;
}

.btn {
    text-decoration: none;
    padding: 8px;
    background: blue;
    color: white;
}